@charset "utf-8"

.header {
    background-color: #eef7f5;
    width: 1000px;
    height: auto;
    align: center;
}

.nav {
    height: 35px;
    width: 1000px;
    background-color: slategrey;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 25px;
    color: black;
    font-family: Arial, Helvetica;
    text-align: center;
}

.nav ul li a:hover {
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 25px;
    color: white;
    font-family: Arial, Helvetica;
}

body {
    background-color: #D2D8DD;
    height: auto;
    font-family: Arial, Helvetica;
    margin: 0 auto;
}



.headerUnderline {
    width: 100%; 
    height: 0;
    border-bottom: 2px solid slategrey;
}

.content {
    background-color: azure;
    height: 1000px;
}

